.chart-heatmap {
    width: 560px;
    height: 250px;
    .row-heatmap {
        width: 560px;
        height: 250px;
        // display: flex;
        // justify-content: space-around;
        margin-bottom: 3px;

        .element {
            display: inline-block;
            height: 29px;
            width: 21px;
            margin: 0 1px;
            border-radius: 2px;
            position: relative;
        }
        // .element[title]:hover::after {
        //     content: attr(title);
        //     text-align: center;
        //     width: 150%;
        //     height: 100%;
        //     line-height: 29px;
        //     background-color: aqua;
        //     position: absolute;
        //     bottom: -30%;
        //     left: 100%;
        //     font-size: 16px;
        //     color: #000;
        // }
    }
    
}