.pie-chart {
    position: relative;
    margin: 10px 20px;
    height: 400px;
    width: 600px;
    background-color: #fff;
    display: inline-block;
    .title {
        color: #7a7975;
        font-size: 20px;
        font-weight: 300;
        padding: 20px 0 0 30px;
    }
    .description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;

        .chart {
            width: 300px;
            height: 300px;
        }
        .information {
            flex: 1;
            margin-right: 25px;
        }
    }
}
.information-item {
    margin: 15px 0;
}
.wrap {
    display: flex;
    justify-content: space-between;
}

.icon-name {
    display: flex;
    align-items: center;
    .icon {
        display: block;
        height: 10px;
        width: 20px;
        border-radius: 25px;
    }
    .name {
        margin-left: 10px;
        font-size: 25px;
    }
}
.percent {
    font-size: 25px;
    padding-left: 30px;
}
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
.notification {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-45%, -70%);
    font-weight: 300;
    color: #7a7975;
}
