.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  padding: 0px 15px;
  text-align: center;
  line-height: 30px;
}
.storybook-button--primary {
  color: white;
  background-color: #1EA7FD;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset; */
}