.days {
    height: 250px;
    width: 50px;
    font-size: 16px;
    line-height: 33px;
    color: #a1a09e;
    .day {
        height: 33px;
        // background-color: aqua;
        width: 100%;
        text-align: center;
        margin-bottom: 3px;
    }
}
.bar-chart {
    width: 80px;
    height: 250px;
    .total-day {
        height: 33px;
        background-color: #f6f6f6;
        width: 100%;
        text-align: center;
        margin-bottom: 3px;
        .percent {
            background-color: #6cbeb1;
            height: 100%;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            position: 'relative';
            span {
                position: absolute;
                font-size: 15px;
                line-height: 33px;
                color: white;
            }
        }
    }
    .total-number {
        transform: translateX(-5px);
        width: calc(100% + 20px);
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        color: #a1a09e;
    }
}