.ranking-chart {
    display: block;
    margin: 10px 20px;
    height: 444px;
    width: 700px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    .title {
        color: #7a7975;
        font-size: 20px;
        font-weight: 300;
        padding: 20px 0 0 30px;
    }
    .description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 25px;

        .chart {
            width: 100%;
            height: 340px;
            margin: 0 20px 10px 30px;
            .chart-title {
                display: flex;
                justify-content: space-between;
                font-weight: 300;
                font-size: 17px;
                .number {
                    margin-right: 10px;
                }
            }
            .wrapper {
                height: 320px;
                overflow-y: scroll;
                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            .content {
                height: 50px;
                line-height: 50px;
                position: relative;
                .information {
                    display: flex;
                    justify-content: space-between;
                    font-size: 19px;
                    font-weight: 300;
                    border-bottom: 1px solid #ededed;
                    z-index: 10;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
                .content-test {
                    width: inherit;
                    height: 100%;
                    background-color: #ede5fd;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    z-index: 0;
                    animation: mymove 2s;
                    animation-timing-function: ease;
                }
                @keyframes mymove {
                    from {
                        width: 0;
                    }
                    to {
                        width: inherit;
                    }
                }
            }
        }
    }
    .notification {
        // position: absolute;
        // bottom: 50%;
        // left: 50%;
        // transform: translate(-45%, 100%);
        // font-weight: 300;
        // color: #7a7975;
    }
}
