.footer-heatmap {
    .footer-hours {
        width: 552px;
        height: 50px;
        display: flex;
        justify-content: space-around;
        margin-bottom: 3px;
        .hours {
            height: 33px;
            width: 18px;
            border-radius: 2px;
            font-size: 16px;
            text-align: center;
            color: #a1a09e;
        }
    }
    .parameters {
        .parameters-bar {
            width: 100%;
            height: 13px;
            background: linear-gradient(to right, rgba(140, 110, 219, 0.08), rgba(140, 110, 219, 1));
        }
        .parameters-number {
            transform: translateX(-5px);
            width: calc(100% + 12px);
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            color: #a1a09e;
        }
    }
}