.heat-chart {
    display: block;
    margin: 10px 20px;
    height: 444px;
    width: 750px;
    position: absolute;
    bottom: 0;
    left: 740px;
    background-color: #fff;
    .title {
        color: #7a7975;
        font-size: 20px;
        font-weight: 300;
        padding: 20px 0 0 30px;
    }
    .chart {
        padding: 20px 30px;
        height: 340px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}
.notification {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-45%, -70%);
    font-weight: 300;
    color: #7a7975;
}
